# Completely ignore FFmpeg code (C, Assembly, headers, everything)
project/ffmpeg-7.0/* linguist-detectable=false
project/ffmpeg-7.0/**/* linguist-detectable=false

# Force Python to be detected
*.py linguist-detectable=true
project/MLTU/** linguist-language=Python
