# Ignore all FFmpeg source code so GitHub doesn't count it as C
project/ffmpeg-7.0/* linguist-detectable=false

# Mark your Python code as the primary language
*.py linguist-detectable=true

# Optional: ensure Python is used for language stats
project/MLTU/** linguist-language=Python
